.body {
  margin-left: 240px;
  margin-top: 70px;
}

.client-status {
  margin-top: 70px;
}
@media screen and (max-width: 600px) {
  .body {
    margin-left: 135px;
  }
}

.large-card {
  margin-left: 260px;
  margin-top: 90px;
  margin-right: 20px;
}

.statistics-card {
  margin-left: 227px;
  margin-top: 90px;
  margin-right: 20px;
}

.grid-card {
  margin-left: 260px;
  margin-top: 78px;
  margin-right: 24px;
}

@media screen and (max-width: 600px) {
  .large-card {
    margin-left: 110px;
  }
}

.new-client {
  margin-left: 50px;
}
