.body {
  margin-left: 240px;
  margin-top: 70px;
}

.client-status {
  margin-top: 70px;
}
@media screen and (max-width: 600px) {
  .body {
    margin-left: 135px;
  }
}

.large-card {
  margin-left: 260px;
  margin-top: 85px;
  margin-right: 25px;
}

@media screen and (max-width: 600px) {
  .large-card {
    margin-left: 110px;
  }
}
